* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h2 {
  background-color: #16293e;
  color: rgb(215, 215, 215);
  height: 3rem;
  line-height: 3rem;
}
.show-img {
  border-radius: 50%;
  background-color: #f7f6f6;
  height: 170px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-img:hover {
  cursor: pointer;
  background-color: #17314f;
}
.show-img img {
  width: 88%;
  height: auto;
}
.choice {
  margin-top: 35px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}
#rock img {
  margin-bottom: 5px;
  margin-right: 3px;
}
.score-board {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  gap: 5rem;
  /* background-color: #3a7c57; */
}
.msg-container {
  margin-top: 70px;
}
.msg {
  background-color: #081b31;
  color: #ffffff;
  display: inline;
  font-size: 1.6rem;
  padding: 12px;
  border-radius: 0.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.user-score {
  font-size: 50px;
}
.comp-score {
  font-size: 50px;
}
